body {
    animation: back 150s linear infinite;
    transition: .3s linear;
    font-family: 'Didact Gothic', sans-serif;
    background: linear-gradient(-45deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    /*Защита от выделения и копироавния текста*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

iframe {
    width: 75%;
    height: 580px;
    margin-top: 40px;
}